body{
    background-color: maroon;
    text-align: center;
    
background: url(images/th.jpeg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
img{
    border-radius: 10%;
   
    border: 1px solid maroon;
    
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#dia{
color: chartreuse;
font-size: 500%
}
.create{
    font-size: 200%;
    color: darkgreen;
}
#sign{
    font-size: 150%;
    color: forestgreen;
}
label{
    color: blue;
    font-size:150%;
}
placeholder{
    color:blue;
}