body {font-family: "Lato", sans-serif;
 background: url(images/jeshoots-com-462287-unsplash.jpg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
/*styling tabs*/
.tab{
    
    
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#f1f1f1;
}
/*styling buttons that open  tabs*/
.tab button{
   
    background-color: inherit;
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding:14px 16px;
    color: red;
    font-size: 100%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
    background-color: brown;
    color: brown;
}
    
/*Change background color of buttons on hover*/
.tab button:hover {
  /*  background-color:gray;*/
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
   .tab button.active {
      
       background-color: #ccc;
    }
    .tabcontent{
      
        display: none;
        padding: 6px 12px;
        border: 1px  #ccc;
        border-top:none;
        animation:fadeEffect 1s; /* fade effect taking 1 second*/
    }
    /* go from 0 to full opacity(visible )*/
    @keyframes fadeEffect{
        from {opacity: 0;}
        to {opacity: 1;}}
    
    /* formating the specify textbox*/
    #others{
        padding-top: 10%;
        width: 50%;
    }

    label{
        color: rgb(128, 0, 111);
        font-size: 150%;
    }
#p{
    font-size: 200%;
   
}
#sele{
    font-size:150%;
}
    .list{
        color:peru;
    }
    #date{
        color: darkorchid;
    }
    #e{
        color: crimson;
    }
    .other{
        color: indigo;
    }
    input[type=text ] {
        border: 2px ;
        width:25%;
        border-radius: 4px;
        margin: 8px 0;
        padding: 8px;
        color: cornflowerblue;
        box-sizing: border-box;}
        ::placeholder{
            color:burlywood;
            font-size: 150%;
        }