body {font-family: "Lato", sans-serif;
 background: url(images/th.jpeg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
/*styling tabs*/
.tab{
    float:left;
    /*border: 1px solid gray;*/
    /*background-color: burlywood ;*/
 width: 30%;
    height: 300px;
}
/*styling buttons that open  tabs*/
.tab button{
    display: block;
    background-color: inherit;
    color: red;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    /*cursor: pointer ;*/
    cursor: auto;
    transition: 0.3s;
    font-size: 200%;
    border-radius: 10%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
    background-color: brown;
    color: brown;
}
    
/*Change background color of buttons on hover*/
.tab button:hover {
    background-color:gray;
}

/* Create an active/current "tab button" class */
   .tab button.active {
        background-color: grey;
    }
    .tabcontent{
        float: left;
        padding: 0px 12px;
    
        width: 70%;
        border-left: none;
        height: 300px;
        text-align: center;
    }
    /* formating the specify textbox*/
    #others{
        padding-top: 10%;
        width: 50%;
    }
    #box{
        padding: 3%;
        width: 30%;
        color: green;
        font-size: 100%;
    }
    label{
        color: rgb(128, 0, 111);
        font-size: 150%;
    }
#p{
    font-size: 200%;
   
}
#sele{
    font-size:150%;
}
    .list{
        color: green;
    }
    