body{
   
    text-align: center;
    
background: url(images/stil-564510-unsplash.jpg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
img{
    border-radius: 10%;
   
    border: 1px solid maroon;
    
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#dia{
color: chartreuse;
font-size: 500%
}
.create{
    font-size: 250%;
    color: darkgreen;
}
#sign{
    font-size: 200%;
    color: red;
}
label{
    color: blue;
    font-size:200%;
}
p{
    color:green;

}
#box{
   
    font-size: 150%;
  
}
/* formatting textboxes */
input[type=text ] {
   border: 2px ;
   width:20%;
   border-radius: 4px;
   margin: 8px 0;
   padding: 8px;
   color: cornflowerblue;
   box-sizing: border-box;

}
input[type = password]{
    border: 2px ;
    width:20%;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    box-sizing: border-box;
    color: cornflowerblue;
}
::placeholder{
    color:burlywood;
}
/* formating login buttons */
.button{
border: none;
padding: 15px 40px;
font-size: 150%;
color: blueviolet;

}
