body{
    text-align: center;
    background: url(images/jess-watters-496642-unsplash.jpg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
 /*text-align: center;
    
background: url(images/stil-564510-unsplash.jpg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;*/
}

form{
    text-align: center;
position: relative;
}

#up{
    font-size: 500%;
    color: brown;
}
label{
    font-size: 200%;
    color: darkmagenta;
    text-align: left;
}
/*.t{
    text-align: center;
    /* comment  */
   /* padding-right: 10%;
    width: 50%;
    height: 100%;
   /* to be used for the entry  padding-top: 200%;*/
    /*padding-top: 2%;
   color: darkgreen;
   font-size: 100%;
   border-radius: 5%;
} */
/*
.inner{
    
    padding: 0% 0px;
    width: 35%;
    position: center;
    height: -10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/
div{
    height: 5%;
}
input[type=text ] {
    border: 2px ;
    width:30%;
    border-radius: 4px;
    margin: 8px 0;
    padding:10px 10px;
    color: cornflowerblue;
    box-sizing: border-box;
    font-size: 100%;
 }
 input[type = password]{
     border: 2px ;
     width:30%;
     border-radius: 4px;
     margin: 8px 0;
     padding: 10px 10px;
     box-sizing: border-box;
     color: cornflowerblue;
     font-size: 100%;
 }
 ::placeholder{
     color:burlywood;
 }
 .button{
    border: none;
    padding: 15px 40px;
    font-size: 150%;
    color: blueviolet;
    
    }