body{
    background-color: gray;
    background: url(images/pen.jpg) no-repeat center center fixed;
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
form{
    text-align: center;
position: relative;
}
#up{
    font-size: 500%;
    color: brown;
}
label{
    font-size: 200%;
    color: darkmagenta;
    text-align: left;
}
.t{
    text-align: center;
    /* comment  */
    padding-right: 5%;
    width: 50%;
    height: 100%;
   /* to be used for the entry  padding-top: 200%;*/
   padding-top: 2%;
   color: darkgreen;
   font-size: 100%;
}
